@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply crimson-pro;
  background-color: #F6F6F6;
  height: auto;
}
.login-bg {
  background-color: #2F2F2F;
}

.crimson-pro {
  font-family: 'Crimson Pro Variable', sans-serif;
}

.grid-container {
  display:grid;
  grid-template-columns: repeat(auto-fit, minimax(300px, 1fr));
  gap: 20px;
  margin-top: 50px;
}

@media (min-width: 700px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1350px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

#checkbox:after{
  background-color: white!important;
}